[submodule "ardupilot_ws/ardupilot"]
	path = ardupilot_ws/ardupilot
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "ardupilot_ws/gz_ws/src/ardupilot_gazebo"]
	path = ardupilot_ws/gz_ws/src/ardupilot_gazebo
	url = https://github.com/ArduPilot/ardupilot_gazebo.git
