ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Ignore all .pyc files
*.pyc

# Ignore all pycache files
__pycache__/

# Ignore all hidden config files and directories
.vscode/

# Ignore mavproxy logs
mavproxy.log
mav.*
